{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('security_login_check') }}" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" value="" />
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
        </div>

        <br/>
        <button type="submit">Login</button>
    </form>
{% endblock %}
